<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.jbugkorea.helloA">
    <resources>
        <resource-root path="helloA.jar"/>
    </resources>

    <dependencies>
        <!--<module name="org.jbugkorea.helloB"/>-->
        <module name="org.jbugkorea.helloB" export="true"/>
    </dependencies>
</module>