<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.jbugkorea.app">
    <main-class name="org.jbugkorea.app.Main"/>

    <resources>
        <resource-root path="app.jar"/>
    </resources>

    <dependencies>
        <module name="org.jbugkorea.helloA"/>
        <!--<module name="org.jbugkorea.helloB"/>-->
    </dependencies>
</module>